<ion-content color="dark">

  <ion-grid style="height: 100%;">
    <ion-row align-items-center style="height: 100%;">
      


      <ion-col>
      
        <ion-button shape="round" color="dark" expand="full" (click)="login()">         
          <ion-label>Sign in With Your Google Account</ion-label>
        </ion-button>     
                   
        <ion-button fill="clear" (click)="skipLogin()" expand="full" class="ios">Back to Lift Status</ion-button>

        <div class="ion-text-center">
            <small>Customised settings requires you to have an account.</small>
        </div>


      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>
