<ion-header>
  <ion-toolbar color="dark">

      <ion-title>Lift Status</ion-title>

      <ion-buttons slot="end">
        <ion-button (click)="openSettings()" >
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content color="dark">

  <ion-refresher (ionRefresh)="getLifts($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let lift of liftStatuses | async" color="dark" class="card-status status-open"
      [ngClass]="{ 
        'status-closed': lift.status == 'Closed', 
        'status-open': lift.status == 'Open',
        'status-hold': lift.status == 'On Hold' 
      }">

    <ion-card-header>
      <ion-card-subtitle>{{ lift.location }}</ion-card-subtitle>
      <ion-card-title>{{ lift.name }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
      <ion-chip [color]="getLiftStatusChip(lift.status)">
        {{ lift.status }}
      </ion-chip>

      <br />
      <ion-text color="medium">
        <small>
          Last updated {{ lift.updatedAt | timeAgo }} at {{ lift.updatedAt | date:'shortTime' }}
        </small>
      </ion-text>
        
  </ion-card-content>
</ion-card> 

</ion-content>

<ion-footer>
  
  <ion-toolbar  color="dark">
    <ion-item color="dark">
      <ion-label>Only Show Open Lifts</ion-label>
      <ion-toggle color="success" [(ngModel)]="showOpenOnly" (click)="toggleOpenOnlyFilter()"></ion-toggle>
    </ion-item>
  </ion-toolbar>

</ion-footer>