<ion-header>
  <ion-toolbar color="dark">

      <ion-title>Lift Status</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content color="dark" *ngIf="loading">
  
  <ion-item-group>

    <ion-item-divider color="dark">
      <ion-label><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></ion-label>
    </ion-item-divider>

    <ion-card color="dark" *ngFor="let skeleton of skeletonLifts" class="card-status status-closed">

      <ion-card-header>
        <!-- <ion-card-subtitle><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></ion-card-subtitle> -->
        <ion-card-title><ion-skeleton-text color="light" animated style="width: 60%"></ion-skeleton-text></ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <br />
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>      
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </ion-card-content>

    </ion-card>
    
  </ion-item-group>
</ion-content>

<ion-content *ngIf="!loading" color="dark">

  <ion-item-group *ngFor="let liftLocation of lifts | groupBy: 'location'">

      <ion-card *ngFor="let lift of liftLocation.value" color="dark" class="card-status status-open"
          (click)="showDetail(lift)"
          [ngClass]="{ 
            'status-closed': lift.status == 'Closed', 
            'status-open': lift.status == 'Open',
            'status-hold': lift.status == 'On Hold' 
          }">

        <ion-card-header>
          <ion-card-subtitle>{{ lift.location }}</ion-card-subtitle>
          <ion-card-title>{{ lift.name }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          
          <ion-chip [color]="getLiftStatusChip(lift.status)">
            {{ lift.status }}
          </ion-chip>
    
          <br />
          <ion-text color="medium">
            <small>
              Last updated {{ lift.updatedAt | timeAgo }} at {{ lift.updatedAt | date:'shortTime' }}
            </small>
          </ion-text>
           
      </ion-card-content>
    </ion-card> 

  </ion-item-group>

</ion-content>

